# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>C/C++</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>TensorFlow</li>
<li>NumPy</li>
<li>Keras</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <th>RStudio</th>
    </tr>
    <tr>
        <th>Apache Spark</th>
    </tr>
    <tr>
        <th>TensorFlow</th>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries for Data Science</li>
    <li>List popular Data Science Tools</li>
    <li>Convert 200 minutes to hours</li>
</ul>

## Author
Arkadip Biswas